body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/*HEADER*/
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;

}
.navbar-brand {
	padding-top: 25px; 
}

/*Restaurant name*/
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em;                  
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75; /*Spacing beetween lines/rows*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
/*Kosher Certificate*/
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
/*Kosher Certificate only text*/
.navbar-brand p span {
	vertical-align: middle;
}
/*Menu list/ unordered list*/
#nav-list {
	margin-top: 10px;
}
/*Each element in the menu list*/
#nav-list a {
	color: #951C49;
	text-align: center;
}
/*Change background when pass over element*/
#nav-list a:hover {
	background: #E7E7E7;
}
/*The symbols of each list items*/
#nav-list a span {
	font-size: 1.8em;
}
/*Number phone Element and We deliver*/
#phone {
	margin-top: 5px;
}
/*Only phone number*/
#phone a {
	text-align: right;
	padding-bottom: 0;
}
/*Only We Deliver*/
#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}
/*Style the menu button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
/*Control the menu button and avoid that keep a nice position with the restaurant name*/
.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

/*FOOTER*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
/*Whole footer so all sections together*/
.panel-footer div.row {
	margin-bottom: 35px;
}
/*Only Hours and address sections*/
#hours, #address {
	line-height: 2;
}
/*Only the title of Hours section and address so basically Hours text and Address text*/
#hours > span, #address > span {
	font-size: 1.3em;
}
/*The information about delivery written in smaller size*/
#address p {
	color: #557c3e;
	font-size: .8em;
	line-height: 1.8;
}
/*Comments of people / testimonials*/
#testimonials {
	font-style: italic;
}

/*Give to the second comment a margin top to separate the two comments */
#testimonials p:nth-child(2) {
	margin-top: 25px;
}

/*HOME PAGE*/
/*Main part where the restaurant image is*/
.container .jumbotron {
	box-shadow: 0 0 50px #3F0C1F;
	border: 2px solid #3F0C1F;
}
/*Give style to all the three rectangles -- Menu, Specials and Map*/
#menu-tile, #specials-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}

/*Create a white border when you pass the pointer over the tile*/
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
	background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;
}
#specials-tile {
	background: url('../images/specials-tile.jpg') no-repeat;
	background-position: center;
}	
/*Style the text of all three rectangles*/
#menu-tile span, #specials-tile span, #map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%; /*Allow to span element to be streched along the rectangle*/
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8; /*Gives a bit of transparency to the box of the span element*/
} /*END OF HOME PAGE*/

/*MENU CATEGORIES PAGE*/
/*The tile so the image plus the text*/
.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden; /*Hide everything that is overlapped from elements*/
	width: 200px;
	height: 200px;
	margin: 0 auto 15px; /*If you give width and heigth, put auto for left and right margin it will automatically center the tile*/
}

/*Only the text inside tile*/
.category-tile span {
	position: absolute;
	bottom: 0;		/*bottom and right 0 position the text at the bottom of the tile*/
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}

/*The text below Menu Categories title*/
#menu-categories-title + div { /*+ means next sibling of menu-categories-title so basically the next element after the id element*/
	margin-bottom: 50px;
}
/*End Of MENU CATEGORIES PAGE*/

/*SINGLE MENU PAGE*/
.menu-item-tile { /*Single entire Cell*/
	margin-bottom: 25px;  /*Separate from next row*/
}
.menu-item-tile hr { /*Separation line when extra small screen size*/
	width: 80%;
}
.menu-item-tile .menu-item-price { /*Basically the price item*/
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span { /*(pint) and (quart) items*/
	font-size: .6em;
}
.menu-item-photo { /*Picture and ID item*/
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;
}
.menu-item-photo div { /*ID item (e.g. D01)*/
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-description { /*All description cell gives a right padding to distantiate elements*/
	padding-right: 30px;
}
h3.menu-item-title { /*Basically the name of Meal*/
	margin: 0 0 10px;
}
.menu-item-details {
	font-size: .9em;
	font-style: italic;
}
/*END OF SINGLE MENU PAGE*/

/*DESKTOP SIZE SCREEN*/
@media (min-width: 1200px) {
	.container .jumbotron {
		background: url('../images/jumbotron_1200.jpg') no-repeat;
		height: 675px;		
	}

}

/*MEDIUM SCREEN SIZE*/
@media (min-width: 992px) and (max-width: 1199px) {

	#logo-img {
		background: url('../images/restaurant-logo_medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;

	}
	.container .jumbotron {
		background: url('../images/jumbotron_992.jpg') no-repeat;
		height: 558px;
		
	}
}

/*TABLET SCREEN SIZE*/
@media (min-width: 768px) and (max-width: 991px) {

	.container .jumbotron {
		background: url('../images/jumbotron_768.jpg') no-repeat;
		height: 432px;
		
	}
}

/*MOBILE SCREEN SIZE*/
@media (max-width: 767px) {

	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	/*Restaurant name*/
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;  /*vw refers to viewport so allows to regulate the font-size relatively to the viewport and not absolutely ---5vw is 5% of viewport width*/
	}
	/*Kosher Certificate*/
	.navbar-brand p {		
		font-size: .6em;
		margin-top: 12px;
	}
	/*Kosher Certificate logo*/
	.navbar-brand p img {
		height: 20px;
	}
	
	#collapsable-nav a {/*Collapses the gliph elements*/
		font-size: 1.2em;
	}
	/*Only text in menu list*/
	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}
	/*All sections in the footer. Align to the center of screen all of them*/
	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}
	/*Only the last element in the sections. Gives only one margin to the last avoiding that margin been double*/
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	/*Display the separator line only in the half screen*/
	.panel-footer section hr {
		width: 50%;
	}
	/*Home page so restaurant image*/
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
		
	}
	/*Gives to menu image and specials image a fix width to fit all the container box*/
	#menu-tile, #specials-tile {
		width: 360px;
		margin: 0 auto 15px;
	}
/*For stylyng the phone number button*/
	#call-btn > a {
    font-size: 1.5em;
    display: block;  /*Spread for all the screen the box of phone number button*/
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;   /*Give spacing between letters in We Deliver*/
    text-transform: uppercase;
  }

/*  Single Category Page for this size the photo goes right and description left so needs to be centered*/
.menu-item-photo {
	margin-right: auto;
}
.menu-item-tile .menu-item-price {
	text-align: center;
}
.menu-item-description {
	text-align: center;
}
}

/*FOR EXTRA SMALL SIZE LIKE IPHONE 4*/
@media (max-width: 479px) {
	/*Restaurant name. Make bigger the name to better fill all the navigation bar*/
	.navbar-brand h1 {
		padding-top: 5px;
		font-size: 6vw;
	}
	/*Gives to menu image and specials image a fix width to fit all the container box*/
	#menu-tile, #specials-tile {
		width: 280px;
		margin: 0 auto 15px;

	}
 /*Create a new col grid for extra small size as Bootstrap doesn't have it. Anyway I copied the feature of col-xs-12 in Bootsrap.css file*/
	.col-xxs-12 {
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    float: left;
	    width: 100%;
	}
}